/*TODO: Convert to SVG*/
img {
  -ms-interpolation-mode: bicubic;
}

.chromeframe {
  background: #f0eceb;
  color: #050000;
  font: 700 13px Sans-Serif;
  padding: 5px 15px;
  text-align: center;
}

label {
  font: 700 13px Sans-Serif;
}

#top_bar {
  background: #050000;
}

#content.single {
  padding-bottom: 45px;
}

#sub-header .widget-4, #sub-header .widget-7 {
  clear: left;
  margin-left: 0;
}

#prev-post .arrow {
  background: #5d504f url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAQCAYAAADESFVDAAAAWElEQVR42qXSzQkAIAgF4EZolEZqhDZqpEZwBM8dovSUYD9YwuNdPgIlt5tWa6AA9wkgpXPfACeagaeAAGkFigDZACbKAoAC+5f+od7Oesh/iC+/QC/DPQAIxvkuqJQtLgAAAABJRU5ErkJggg==') no-repeat 16px 15px;
}

.post-group {
  position: relative;
}

.post-group.twoup .post-3,
.post-group.twoup .post-5,
.post-group.twoup .post-7,
.post-group.twoup .post-9,
.post-group.twoup .post-11,
.post-group.twoup .post-13,
.post-group.twoup .post-15,
.post-group.twoup .post-17,
.post-group.twoup .post-19 {
  clear: left !important;
  margin-left: 0 !important;
}

.post-group.threeup .post-4,
.post-group.threeup .post-7,
.post-group.threeup .post-10,
.post-group.threeup .post-13,
.post-group.threeup .post-16,
.post-group.threeup .post-19,
.post-group.threeup .post-22,
.post-group.threeup .post-25,
.post-group.threeup .post-28 {
  clear: left !important;
  margin-left: 0 !important;
}

.post-group.fourup .post-5, .post-group.fourup .post-9, .post-group.fourup .post-13, .post-group.fourup .post-17, .post-group.fourup .post-21, .post-group.fourup .post-25, .post-group.fourup .post-29, .post-group.fourup .post-33, .post-group.fourup .post-37 {
  clear: left !important;
  margin-left: 0 !important;
}

#page-footer .widget-3, #page-footer .widget-5, #page-footer .widget-7 {
  clear: left;
  margin-left: 0;
}

#post-footer .widget-4, #post-footer .widget-7, #post-footer .widget-10 {
  clear: left;
  margin-left: 0;
}

#respond label {
  display: block;
}
#respond #comment-form-info label {
  text-align: right;
}
#respond #comment-form-info input[type=text] {
  margin-bottom: 15px;
}
#respond textarea {
  height: 137px;
}

#comment-form-content dl {
  text-align: left;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

#projects_list li h3 small {
  background-color: #5d504f;
}

#menu-primary li.rss, #menu-primary li.twitter {
  display: none !important;
}

/*PNG replacements*/
#page-header #site-title a {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAI0AAAAOCAYAAAASep/TAAAE40lEQVR42u1Y0ZGdRhB8IRACIfBvWUaWdZLufBIuu+ySy64ihBcCGRDCC4EQCIEQCIEQcDfVQ413H+y9O1H6sD+mgN1htrend3fgNM/zanevvitludrC/sz7wE7/m+w/wg11YGIoYOPDm3KmfXz9esZzRyKcYJr337+ar/koYAObzQLiLr7Ptc8b1nigCf9B+EPf3vmcd/qKK/HLnfG64J1DuPF2A5be8xeM3fvnwEb3TjI3iyDuyx/GPx8f57+rzz2shU2/33+cQcTZdqBf7t6xn3YJfJbB0N+wX0biKgPw24cPg++zdj1HxlghaYH/IKzTl58fZuCfQt8/Hu7XeNW7n7qgr1cf370E8Zn4cms8zlnjZbBjuIktjUXz8vz5sdkXYJkUZ2Du0S6xpXOzTJovKfCys/z1+VMrsns+g8TOSMEkT7++v6NPrSDTFTDz449vVgBMLNt3RFPCTjLG2iUO8UpgJYaSz7j63YFWOYJnkDttiQbzmRKi8eNlnAeuFEQNn0O4iS2N5RbRiLMebRyfsRu9N6ZysxxPJEidHJyi4cRzPBNcwWeQPorg2oJ+evs2dwnLPRgB6G0l+nbaVpISFvnjejUGktKKYGIahbG4IppJfVUcP34GP0zWIhLMnzvUIdzElsZyq2j0bD4F27h5EO9ebkw0uRPNwImEBTCDCdwaAFvsyW23pQeDK1U8KbFntTc7ojlzXGdZkjiR7trsHYp+EHkVsF90DDVeNErWRSv/8hTRSCSNRELSD+EmtjSWl4gG3PwLbyo3FAUdbGXSicC9eDZV59s9GFhrqwxH3MUSuCUa+DCGGcVbJogjvh5X29prvGN+GechMeQg9OxXtycXfcQ84EpMWVI0MemHcBNZGssLRBPHT+Xm5IRRw8ZAPPVzRIOVXlnBp0JvQAJL898s7mSIVyTO9YHj6HjhKm/NB5OyBIxc8Zh0KVzruJ5cxDprl62PEM3t3Hx70aRyY6Lx4inlyGSMzxENV7gVfBQg7OJrp63iTsbt8qnFYMFnJIIxC6tndD4vn5EY12/9ZUguRJVrrv0Rormdm28vmr3cUA98odY3fGvCgWNlhZFEMypg7QbK3UC5B6MzfbJPUR4RBPO1C2F/FuO+9PWMfUbS3HtNSK6wdtyJniiaTvPk7nYIN7GlsbxQNIWvDZOFMFZYQ8JItkTD1Wpb/KRC2FfpVuzV5oP7CIwqezsXiwNEc60th+D9P5NGZmRGK1IFpeaSFE0G30m7G0VyCDexpbFoXp3mtWLhvcbudgrhxo501oZJ0djnFsnWH8YGopns60Kf3JVWBX0IqAVJ5tOGYHxlT+OOkBBN9NfxOaKxZAlrBkzERTJrV9dkoWgwl2xXNCq8QShrqIVcvMPxD+PG2w1YaoelpfGebewLsEw6YQbuetqd66fkxuqYswLPDCAwHYl3tU4jQFT26oP7bGMbNCL4LGJe/kfYJzU8Hrja5TPYipEoCvdboQpFQ1/OZedc57zWOYPc3P0TOoCb0NJYNE/7EiYOmnHasi/4ucc4SzxxeJZPMje+AM5gpUxicRb75BAZCTcw7F+KJRFx7ZnmgQWW/CNMY6y1DaSxbSEMSVvuQcTa72ofGpNMTNE4mIuPv4WPfjx+fHzG+drceLsJC4QS5RJtIVZv5JBfmcnx7I/wPy1KfIGWitBLAAAAAElFTkSuQmCC') no-repeat left center;
}

#text-10 #footer_main_promo .sprite.fork {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIQAAACWCAMAAAAohNAFAAAAM1BMVEUAAAD9+fn9+fn9+fn9+fn9+fn9+fn9+fn9+fn9+fn9+fn9+fn9+fn9+fn9+fn9+fn9+fkTpSYEAAAAEHRSTlMAAQQJEBkkMUBQY3iPqMPg8LIwqQAAAnxJREFUeNrt2912gyAQBOCghsaJRt7/aXvZC5ecwEw2pGe5bud8yvJToZfLO9tSTu128W6BCEQgAhGIQAQiEP8CcTsjMAJiiDfhj1hHQGwjII4z4uptmM6GsngjsoFI3gicDYe3IRklsY3QG+6DYx+gLo3Vy78ujZnKvSSsiig/nx8apUy+iHv5fG/8WIaSXQ1X0+A7Xc5mQfjOVBWDa1nWDBjAcKTPGzwromp4pM8bHNfPugEDGPw6o24o8wAGt0Uj1w1uBZGrhHIfwLCnMIQhDGEIQxi+w7ANYBhh/xCGMIQhDGEIQxi+3TCvAxiOt7ycVsM7uqjdoFf0GNSKPoNW0WtQKvoNOgVjUClulEGjAGlQKDJt4BUKA6u4Nq2b9Q/szPHX3Pbd/slr6z9qSHvj/qGuOLoPXdbmPUxdsXcalo59VBaXRXr07OXqilnaGegb1D0dMvXuabNwhGzdE09N0X5gvxCTX1bV5p2ZgCuK1tssE7cIZElVgFyIbMWjbY4wF42WW1L2Vqjp+kLmq3uj13SzLNuu+E4HWZqJ7YxqhzQ8iLmXab4kZa09DX+rQ7JFy9z4eCheBBmTBBVRq4qXi2IRbRInZv2wnqDrTGsn3ig0vWE+zcszhewfIqx+ffV3D3LS/2vEVlMzQCuDdOlH9BmsjjURy6kZM91x/qn0SpSxEK5W1JPvD8+adRZOREFloKKgMlBRUBmoKKgMVBRUBioKKgMVBZWBioLKQEVBZaCioDJQUVAZqCioDFQUVAYqCioDFQWVgYqCykBFQWWgoqAyUFFQGagoqAxUFFQGKgoqAxUFlYGKgspARUFloKKgu3NMREF37/l51C94ZEn4zysV4gAAAABJRU5ErkJggg==') no-repeat;
}
