#flb-overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 1000100; }

#flb-container {
  background: #3d302f;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000110;
  opacity: 0.7;
  margin: 0;
  padding: 0;
  border: none; }

#flb-container a, #flb-container a:hover {
  display: block;
  width: 100%;
  height: 100%;
  background: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: none; }

#flb-content {
  background: #5d504f;
  top: 50%;
  left: 50%;
  padding: 1px;
  position: fixed;
  z-index: 1000120; }

#flb-content a#flb-close, #flb-content a#flb-close:hover {
  display: none; }

#flb-content a img {
  border: none;
  margin: 0;
  padding: 0; }

#flb-content #flb-image, #flb-content a#flb-image:hover {
  border: none;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

#flb-content #flb-image {
  display: none; }

#flb-content.active #flb-image {
  display: block; }
