
@font-face {
	font-family: comment glyphs;
	src: url('fonts/comment-glyphs.otf');
}


.post p[name] .comment-marker {
	display: none;
}

.post p[name]:hover .comment-marker {
	display: inline-block;
}

.comment-marker {
	opacity: .8;
	cursor: pointer;
}

.comment-marker:before {
	font-family: 'comment glyphs';
	content: 'A';
	margin-left:5px;
	line-height: 1;
	font-size:1.2em;
	color:rgb(255,30,0);
}