#content.page {
	.post-header {
		display:none;
	}
	#sidebar {
		margin-top:$row-height*6;
	}
}

#page_title {
	font-size: $font-size-xx-large;
	color: $color-midtone;
	.title {
		color: $color-off-black;
		font-size: inherit;
		font-style: italic;
	}
}

#content.page #info, #content.page #other_projects {
	h1 {
		display: block;
		padding-top: 0;
		font-size: $font-size-x-large; }
	p { font-size: $font-size-small; }
	p.large { font-size: $font-size-large; }
}

#content.page #other_projects {
	margin-top: $row-height * 2;
	#projects_list li { margin-bottom: 0; }
}

#download_follow { margin: 15px 0; }

#download_follow li {
	border-top: 2px solid $color-light;
	padding: 15px 0;
	text-align: center; }

#download_follow small {
	margin-top: 5px;
	display: block;
	/* TODO variables */
	font-size: 9px !important;
	line-height: 12px;
	font-weight: $font-weight-bold;
}

#hero_slideshow {
	margin-bottom:$row-height*2;
}

#projects-nav {
	margin: 15px 0;
}

#projects-nav dt {
	color: $color-midtone;
}

#projects-nav dt,
#projects-nav dd {
	margin: 0;
	@extend %small-label;
	margin-right: 20px;
	float: left;
}

#projects-nav dd:last-child {
	margin-right: 0;
}

#content.page #projects-nav dd {
	background: $checkbox-sprite 0 2px no-repeat;
	cursor: pointer;
	padding-left: 15px;
}

#content.page #projects-nav dd.active {
	background-position: 0 -18px;
	font-weight: $font-weight-bold;
}


#projects_list, #download_follow {
	list-style:none;
	padding-left: 0;
}

#projects_list li {
	margin-top: $row-height;
	margin-bottom: $row-height;
}

#projects_list li:nth-child(4n+1) {
	margin-left:0;
}

#projects_list li:last-child {
	float:left;
}

#projects_list div {
	@extend %default-shadow;
}

#projects_list div:hover {
	box-shadow: 0px 2px 10px rgba(18, 7, 6, 0.5);
}

#projects_list .deselected {
	opacity: 0.5; }

#projects_list p {
	display: none; }

#projects_list a {
	display: block;
	line-height: 0;
	@extend %reset;
	border: 0 !important;
	text-decoration: none;
	width:100%;
	height: 120px;
	background-image: url("/wp-content/images/pages/projects/projects_sprite.png");
	}


#projects_list {
	#projects_bitcons {
		background-position: 0 0;
	}
	#projects_sanscons {
		background-position-y: -120px;
	}
	#projects_photography {
		background-position-y: -240px;
	}
	#projects_offfranklin {
		background-position-y: -360px;
	}
	#projects_iconic {
		background-position-y: -480px;
	}
	#projects_iconic {
		background-position-y: -480px;
	}
	#projects_coffeesleeve {
		background-position-y: -600px;
	}
	#projects_coordy {
		background-position-y: -720px;
	}
	#cue {
		background-position-y: -840px;
	}
	#projects_frank {
		background-position-y: -960px;
	}
	h3 {
		position: relative;
		@extend %reset;
		small {
			text-indent:6px;
			padding:6px 0;
			background: rgba(93, 80, 79, 0.84);
			margin: 0;
			position: absolute;
			display: block;
			bottom: 0;
			width:100%;
			color: $color-highlight;
			font-size: 13px;
			line-height: 13px;
		}
	}
}

/* TODO: Clean up selector */
#content.page #projects_list div p {
	font: #{$typeface-secondary} #{$font-size-x-small};
}
#p5554 .slideshow .slide-a, #p5554 .slideshow .slide-b {
	background-image: url("/wp-content/images/pages/iconic/iconic_sprite.png"); }

#p5554 #project_preview {
	margin-bottom:$row-height;
	a {
		width: 100%;
		height: 76px;
		background: url("/wp-content/images/pages/iconic/icons_sm.png?embed=true") no-repeat;
		display: block;
		text-indent: -9999px
	}
}

#p11465 .slideshow .slide-a,
#p11465 .slideshow .slide-b {
	background-image: url("/wp-content/images/pages/cue/cue_sprite.png"); }

#p5734 .slideshow .slide-a,
#p5734 .slideshow .slide-b {
	background-image: url("/wp-content/images/pages/bitcons/bitcons_sprite.png"); }

#p5641 .slideshow .slide-a,
#p5641 .slideshow .slide-b {
	background-image: url("/wp-content/images/pages/sanscons/sanscons_sprite.png"); }

#p6975 .slideshow .slide-a,
#p6975 .slideshow .slide-b {
	background-image: url("/wp-content/images/pages/off_franklin/off_franklin_sprite.jpg"); }

/*Frank*/
#p4537 #info {
	margin-top:$row-height*2;
}

#p4537 #features h3 {
	font-size:$font-size-x-large;
	margin-top:$row-height*4;
}

#p4537 #features h3:first-child {
	font-size:$font-size-x-large;
	margin-top:$row-height*2;
}

#p4537 #features .feature p {
	font-size:$font-weight-medium;
}

#p5215 object {
	height:350px;
}

@media only screen and  (max-width: 767px) {

	#content.page #projects-nav {
		display:none;
	}

	#projects_list div, #projects_list div:hover {
		box-shadow:none;
	}

	#projects_list li {
		margin-top: $row-height*2;
		margin-bottom: $row-height*2;
	}

	#projects_list p {
		display: block;
		margin-top:5px;
		font:$font-size-medium $typeface-primary !important; 
	}

	#projects_list a {
		background:none;
		height:auto;
	}

	#projects_list h3 small {
		text-indent:0;
		background: none;
		margin: 0;
		position: relative;
		display: block;
		width:100%; 
		color:$color-midtone;
		font: #{$typeface-secondary} #{$font-size-large} !important;
	}

	#project_preview {
		display:none;
	}

	#p5215 #coordy_examples_nav, #p5212 #hero_slideshow {
		display:none;
	}

}