#bio_pic { 
	background:inline-image('profile.jpg') no-repeat center center;
	max-width:100%;
	height:160px;
	@extend %image-replace;
	display:block;
	margin-bottom:$row-height;
	@extend %default-shadow;

}

#sidebar {
	.widget {
		width:auto;
		margin-right:0;
	}
}

@media only screen and  (max-width: 767px) {
	#bio_pic {
		font: #{$font-size-medium} #{$typeface-secondary} ;
		color:$color-midtone; 
		background:none;
		width:auto;
		height:auto;
		text-indent:0;
		box-shadow:none;
	}
}