/* TODO: Break out heirarchy */
.single {
	.post-content {
		ul {
			font-family: $typeface-primary;
		}
		li {
				margin:0 0 $row-height 10px;
		} 
		img {
			height: auto; 
		} 
	}
	#excerpt {
		border-bottom: 2px solid $color-light;
	}
	#sidebar {
		margin-top:$row-height*4;
	} 
}
