.fss { position: relative; }

.slide-container {
	position:relative;
	height:210px;
}

.fss .slide-container {
	@extend %default-shadow;
	line-height: 0; }

.slideshow .captions li {
	display:none;
	font: #{$font-size-x-small} #{$typeface-secondary} !important;
}

.slideshow .captions li.active {
	display:block;
}

.slideshow .slide-a, .slideshow .slide-b {
	position:absolute;
	opacity:0;
	-webkit-transition: opacity 0.5s ease-in;
	width:100% !important;
	background-position-x: center !important;
}

.slideshow .slide-a.visible, .slideshow .slide-b.visible {
	opacity:1;
}

.fss-nav {
	background: rgba(61, 48, 47, 0.8);
	display: none;
	position: absolute;
	right: 20px;
	bottom: 20px;
	z-index: 1000;
	list-style: none;
	padding: 10px;
	margin: 0;
}

.fss-nav.active { display: block; }

.fss .fss-nav li {
	float: left;
	display: block !important;
	padding: 0;
	margin: 0 10px 0 0;
	/*TODO: Make the colors below variables*/
	background: #ded3d1;
	color: #3d302f;
	cursor: pointer;
	font: #{$font-weight-bold} 10px/20px #{$typeface-secondary} !important;
	text-align: center;
	width: 20px;
	height: 20px; }

.fss-nav li:last-child {
	margin-right: 0; 
}

.fss-nav li.active {
	/*TODO: Make the colors below variables*/
	background: #fefafa;
	color: #050000; 
}