/*TODO: Convert to SVG*/
$checkbox-sprite:url('data:image/gif;base64,R0lGODlhCgAeAJEAAP76+mJVVF1QT8zMzCH5BAHoAwMALAAAAAAKAB4AAAIelI+py+0PYxu02ouz3rz7v0kiApRAkJhnaqJkO44FADs=');

$typeface-secondary: "Helvetica Neue", sans-serif;
$typeface-primary: Georgia, serif;

