
/* === LAST UPDATED AT 3AM ON SEPTEMBER 25TH, 2012 === */


/* ==================================================== */
/* ===== MAIN CONTENT STRUCTURE ELEMENTS & STYLES ===== */
/* ==================================================== */

#settings-container {
	border: 1px solid #DFDFDF;
	border-radius: 3px;
	display: block;
	height: auto;
	margin: 20px 0 20px 25px;
	max-width: 860px;
	padding: 0;
	width: 70%;
}

h3.type-title {
	background-color: #F1F1F1;
	background-image: -ms-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -moz-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -o-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#F9F9F9),to(#ECECEC));
	background-image: -webkit-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: linear-gradient(top,#F9F9F9,#ECECEC);
	border-bottom: 1px solid #DFDFDF;
	border-radius: 3px 3px 0 0;
	color: #3A3A3A;
	display: block;
	font: 16px/40px Helvetica, Sans-Serif;
	font-weight: bold;
	height: 40px;
	margin: 0;
	padding: 0 2%;
	text-align: left;
	text-shadow: 0 1px 0 #FFF;
	width: 96%;
}

/* ======================================================== */
/* ===== GENERAL SETTINGS STRUCTURE ELEMENTS & STYLES ===== */
/* ======================================================== */

.option-container {
	border-bottom: 1px solid #DFDFDF;
	display: block;
	margin: 0;
	padding: 3%;
	width: 94%;
}

#first-option {
	margin: -25px 0 0 0;
}

#devmode {
	border-bottom: none;
}

h3.feature-title {
	display: inline-block;
	float: left;
	font: 12px/18px Helvetica, Sans-Serif;
	font-weight: bold;
	margin: 0 2% 0 0;
	padding: 0;
	width: 20%;
}

.option-container .feature {
	display: block;
	height: auto;
	float: left;
	margin: 2px 3% 0 0;
	padding: 0;
	width: 40%;
}

#settings-container .textarea,
#settings-container .text {
	background: #FFFFE0;
}

.option-container .textarea {
	height: 150px;
	margin: 0;
	padding: 5px;
	width: 100%;
}

.option-container .textarea,
.option-container .text {
	border: 1px solid #DDD;
	border-radius: 4px;
}

.option-container .textarea:focus,
.option-container .text:focus {
	border: 1px solid #EA0000;
}

#settings-container .textarea:focus,
#settings-container .text:focus {
	border-color: #EA0000;
	outline: none;
}

.option-container .feature input[type="text"],
.option-container .text {
	margin: 0;
	padding: 10px;
	width: 100%;
}

.option-container .checkbox {
	margin: 0 2px 0 0;
	vertical-align: middle;
}

.option-container label {
	margin: -1px 0 0 0;
}

.option-container .feature-desc {
	color: #888;
	display: inline-block;
	float: left;
	font: 11px/20px Helvetica, Sans-Serif;
	margin: 0;
	padding: 0 2% 0 0;
	width: 33%;
}

/* ========================================================= */
/* ===== HOMEPAGE SETTINGS STRUCTURE ELEMENTS & STYLES ===== */
/* ========================================================= */

.frank-content-sections {
	border: 1px solid #DDD;
	border-radius: 3px;
	display: block;
	margin: 3%;
	padding: 0 0 20px 0;
	width: 94%;
}

.content-titles {
	background: #F5F5F5;
	border-bottom: 1px solid #DDD;
	border-radius: 3px 3px 0 0;
	color: #3A3A3A;
	display: block;
	height: 30px;
	line-height: 30px;
	margin: 0;
	padding: 0 2% 0 5%;
	position: relative;
	text-shadow: 0 1px 0 #FFF;
	width: 93%;
}

span.frank-handle {
	background: url(/wp-content/themes/frank/admin/images/handle.png) center center no-repeat;
	cursor: move;
	display: block;
	height: 20px;
	position: absolute; top: 6px; left: 10px;
	width: 20px;
}

.dragdrop {
	color: #CCC;
	display: block;
	float: left;
	font: 11px/30px Serif;
	font-style: italic;
	margin: 0;
	padding: 0;
	position: absolute; top: 1px; left: 160px;
}

a.frank-content-section-delete {
	color: #CCC;
	display: block;
	font: 18px/30px Helvetica, Sans-Serif;
	font-weight: lighter;
	position: absolute; top: 1px; right: 10px;
	text-decoration: none;
}

.content-groups {
	clear: both;
	display: block;
}

.top-options-container {
	display: block;
	height: 60px;
	margin: 20px 0 0 0;
	padding: 0 20px;
}

.display-types, .display-titles, .display-posts {
	display: block;
	float: left;
	margin: 0 40px 20px 0;
}

.section-title {
	color: #555;
	display: block;
	margin: 0 0 5px 0;
	padding: 0;
}

.display-types select,
.display-types select option {
	max-width: 180px;
	overflow: hidden
}

.text-title {
	min-width: 250px;
	width: 100%;
}

.display-types {
	margin: 0;
}

.bottom-options-container {
	clear: both;
	display: block;
	margin: 20px 0 0 0;
	padding: 0 20px;
}

.display-captions, .display-categories {
	display: block;
	float: left;
	margin: 0 40px 0 0;
}

.display-captions .textarea {
	display: block;
	height: 93px;
	margin: 0 0 20px 0;
	min-width: 250px;
	padding: 10px;
	width: 100%;
}

.display-categories {
	margin: 0;
}

.categories-container {
	background: #FAFAFA;
	border: 1px solid #DDD;
	border-radius: 3px;
	display: block;
	height: auto;
	min-height: 60px;
	padding: 10px;
	width: 370px;
}

.categories-container ul {
	display: block;
	margin: 0;
	padding: 0;
}

.categories-container .categorychecklist {
	display: block;
	float: left;
	height: auto;
	margin: -2px 0 25px 0;
	min-height: 18px;
	padding: 0;
	width: auto;
}

.categories-container .categorychecklist li {
	display: block;
	float: left;
	height: 18px;
	margin: 0 15px 5px 0;
	padding: 0;
	width: auto;
}

.frank-group li {
	display: block;
	float: left;
	height: 30px;
	margin: 0 15px 0 0;
	padding: 0;
	width: auto;
}

.select-button {
	background-color: #F1F1F1;
	background-image: -ms-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -moz-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -o-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#F9F9F9),to(#ECECEC));
	background-image: -webkit-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: linear-gradient(top,#F9F9F9,#ECECEC);
	border: 1px solid #BBB;
	border-radius: 3px;
	color: #3A3A3A;
	display: block;
	float: left;
	font: 12px/24px Helvetica, Sans-Serif;
	height: 24px;
	margin: 0;
	padding: 0 10px;
	text-decoration: none;
}

.select-button:hover {
	color: #3A3A3A;
	box-shadow: 0 0 5px #CCC;
	-moz-box-shadow: 0 0 5px #CCC;
	-webkit-box-shadow: 0 0 5px #CCC;
}

#frank-add-content-section {
	background-color: #F1F1F1;
	background-image: -ms-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -moz-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -o-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#F9F9F9),to(#ECECEC));
	background-image: -webkit-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: linear-gradient(top,#F9F9F9,#ECECEC);
	border: 1px solid #BBB;
	border-radius: 3px;
	color: #3A3A3A;
	display: block;
	height: 38px;
	margin: 0 3% 25px 3%;
	padding: 0;
	width: 94%;
}

#frank-add-content-section:hover {
	box-shadow: 0 0 5px #CCC;
	-moz-box-shadow: 0 0 5px #CCC;
	-webkit-box-shadow: 0 0 5px #CCC;
}

#frank-add-content-section a {
	color: #3A3A3A;
	display: block;
	font: 14px/40px Helvetica, Sans-Serif;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

/* ========================================================== */
/* ===== ALERT MESSAGES & SAVE BUTTON ELEMENTS & STYLES ===== */
/* ========================================================== */

.helper-container {
	border-bottom: 1px solid #DDD;
	display: block;
	font: 16px/20px serif;
	font-style: italic;
	margin: -25px 0 25px 0;
	padding: 15px 3%;
	width: 94%;
}

.helper-container p {
	color: #CCC;
	margin: 0;
	padding: 0;
}

.button-container {
	border-bottom: 1px solid #DDD;
	display: block;
	height: 30px;
	margin: 0 0 25px 0;
	padding: 3%;
	width: 94%;
}

.button-container.bottom {
	border-bottom: none;
	border-top: 1px solid #DDD;
	margin: 0;
}

.save-settings {
	background-color: #F1F1F1;
	background-image: -ms-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -moz-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -o-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#F9F9F9),to(#ECECEC));
	background-image: -webkit-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: linear-gradient(top,#F9F9F9,#ECECEC);
	border: 1px solid #BBB;
	border-radius: 3px;
	display: block;
	float: right;
	font: 12px/30px Helvetica, Sans-Serif;
	font-weight: bold;
	height: 32px;
	margin: 0;
	padding: 0 15px;
}

.save-settings:hover {
	box-shadow: 0 0 5px #CCC;
	-moz-box-shadow: 0 0 5px #CCC;
	-webkit-box-shadow: 0 0 5px #CCC;
}

h4.saved-success,
h4.reset-success {
	background-color: #CDE9B9;
	background-image: -ms-linear-gradient(top,#EDFDDE,#CDE9B9);
	background-image: -moz-linear-gradient(top,#EDFDDE,#CDE9B9);
	background-image: -o-linear-gradient(top,#EDFDDE,#CDE9B9);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#EDFDDE),to(#CDE9B9));
	background-image: -webkit-linear-gradient(top,#EDFDDE,#CDE9B9);
	background-image: linear-gradient(top,#EDFDDE,#CDE9B9);
	border: 1px solid #A0DA72;
	border-radius: 3px;
	color: #277B00;
	display: block;
	float: left;
	font: 12px/30px Helvetica, Sans-Serif;
	font-weight: bold;
	height: 30px;
	margin: 0;
	padding: 0 20px 0 10px;
	text-shadow: 0 1px 0 #FFF;
	width: auto;
}

h4.info {
	background-color: #CDE9B9;
	background-image: -ms-linear-gradient(top,#E7FDFF,#CAFBFF );
	background-image: -moz-linear-gradient(top,#E7FDFF,#CAFBFF );
	background-image: -o-linear-gradient(top,#E7FDFF,#CAFBFF );
	background-image: -webkit-gradient(linear,left top,left bottom,from(#E7FDFF),to(#CAFBFF ));
	background-image: -webkit-linear-gradient(top,#E7FDFF,#CAFBFF );
	background-image: linear-gradient(top,#E7FDFF,#CAFBFF );
	border: 1px solid #4ECDDE;
	border-radius: 3px;
	color: #007A8B;
	display: block;
	float: left;
	font: 12px/30px Helvetica, Sans-Serif;
	font-weight: bold;
	height: 30px;
	margin: 0;
	padding: 0 15px;
	text-shadow: 0 1px 0 #FFF;
	width: auto;
}

h4.saved-success img,
h4.reset-success img {
	margin: -3px 5px 0 0;
	vertical-align: middle;
}